.venv/
__pycache__/
src/products/__pycache__/schemas.cpython-313.pyc
src/reviews/__pycache__/__init__.cpython-313.pyc
src/reviews/__pycache__/models.cpython-313.pyc
src/reviews/__pycache__/schemas.cpython-313.pyc
src/reviews/__pycache__/router.cpython-313.pyc
src/users/__pycache__/__init__.cpython-313.pyc
src/users/__pycache__/service.cpython-313.pyc
src/users/__pycache__/schemas.cpython-313.pyc
src/users/__pycache__/router.cpython-313.pyc
src/users/__pycache__/models.cpython-313.pyc
alembic/__pycache__/env.cpython-313.pyc
src/users/__pycache__/service.cpython-313.pyc
src/users/__pycache__/schemas.cpython-313.pyc
src/users/__pycache__/router.cpython-313.pyc
src/users/__pycache__/models.cpython-313.pyc
src/users/__pycache__/__init__.cpython-313.pyc
src/reviews/__pycache__/schemas.cpython-313.pyc
src/reviews/__pycache__/router.cpython-313.pyc
src/reviews/__pycache__/models.cpython-313.pyc
src/reviews/__pycache__/__init__.cpython-313.pyc
src/products/__pycache__/schemas.cpython-313.pyc
src/products/__pycache__/router.cpython-313.pyc
src/products/__pycache__/models.cpython-313.pyc
src/products/__pycache__/__init__.cpython-313.pyc
alembic/versions/__pycache__/5cf90eb791dd_add_categories.cpython-313.pyc
